@import "./utilities/variables";

@import "./components/estructura";
@import "./components/textos";
@import "./components/cards";


  nav img{
    display: flex;
    flex-direction: column;
    }
     .img-thumbnail{
      width: map-get($estilos, ancho );
      height: map-get($estilos, largo);
  }
  .credit-card-div  span { padding-top:10px; }
  .credit-card-div img { padding-top:30px; }
  .credit-card-div .small-font { font-size:9px; }
  .credit-card-div .pad-adjust { padding-top:10px; }
