@import "./utilities/variables";

@import "./components/estructura";
@import "./components/textos";
@import "./components/cards";


  nav img{
    display: flex;
    flex-direction: column;
    }
     .img-thumbnail{
      width: map-get($estilos, ancho );
      height: map-get($estilos, largo);
  }
