.h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-size: 120px;
    color: white;
  }
  /*  p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: $text-color
  }*/

  .h3{
    @extend .h2;
    color: map-get($estilos, amarillo);
    font-size: 60px
    
  }

  p{
    @extend .h2;
        font-size: 20px;
        text-align: center;
        color: $text-color
  }